<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://js.stripe.com/v3/"></script>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Ekart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <div><a class="nav-link" href="/">Home</a></div>

                    </li>

                    <li class="nav-item active">
                        <div>
                            {{#if user}}
                            <a class="nav-link" href="/cart">
                                <i class="fa" style="font-size:20px">&#xf07a;</i>
                                <span class='badge badge-warning'
                                    style="padding-left: 6px;  padding-right: 6px;border-radius: 9px; vertical-align:top; padding: 1 4px; margin-left:-10px; background:#0984e3;color:white;">{{tq}}
                                </span>

                            </a>
                            {{else}}
                            <a class="nav-link" href="/login">
                                <i class="fa" style="font-size:20px;">&#xf07a;</i>
                            </a>
                            {{/if}}
                        </div>
                    </li>

                    <li class="nav-item active">

                        {{#if user.name}}
                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.name}}
                            </a>


                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <a class="dropdown-item" href="/profile">Dashboard</a>
                                <a class="dropdown-item" href="/history">History</a>
                            </div>
                        </div>
                        {{else}}
                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Signup/Login
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/login">Login</a>
                                <a class="dropdown-item" href="/Signup">Signup</a>
                            </div>
                        </div>
                        {{/if}}

                    </li>

                    <li class="nav-item active">

                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                                {{#each categories}}
                                <a class="dropdown-item" href="/products/{{this._id}}">{{this.name}}</a>
                                {{/each}}


                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>

    {{!-- main  --}}
    <div class="container-fluid" style="padding:230px;">
        <center>
            <h1>Add Categories</h1>
            <form action="/add-categories" method="POST">

                <div><input placeholder="name" type="text" name="name"></div>

                <div><input type="submit"></div>

            </form>

        </center>
    </div>



    {{!-- footer  --}}
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="mb-4 text-center text-white">
        Copyright &copy; Ekart 2019
      </p>
      <div class="   text-center text-white">
        <span class="mx-4"><a href="https://www.facebook.com/profile.php?id=100004479109248" style="color: white;"><i 
              class="fab fa-facebook-f fa-2x"></i></a></span>
        <span class="mx-4"><a href="https://www.linkedin.com/in/akshay399/" style="color: white"><i
              class="fab fa-linkedin-in fa-2x"></a></i></span>
        <span class="mx-4"><a href="https://github.com/Akshaysharma1999" style="color: white"><i class="fab fa-github fa-2x"></i></a></span>
      </div>
      
  </footer>


</body>

</html>