<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/js/stripe.js"></script>


</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <div><a class="nav-link" href="/">Home</a></div>
                    </li>
                    <li class="nav-item active">
                        <div><a class="nav-link" href="/">CART</a></div>
                    </li>
                    <li class="nav-item active">

                        {{#if user.name}}
                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{user.name}}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <a class="dropdown-item" href="/profile">Dashboard</a>

                            </div>
                        </div>
                        {{else}}
                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Signup/Login
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/login">Login</a>
                                <a class="dropdown-item" href="/Signup">Signup</a>
                            </div>
                        </div>
                        {{/if}}

                    </li>

                    <li class="nav-item active">

                        <div class="dropdown show mx-4">
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">



                                {{#each categories}}
                                <a class="dropdown-item" href="/products/{{this._id}}">{{this.name}}</a>
                                {{/each}}

                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>


    {{!-- main --}}

    <div class="container-fluid" style="padding:230px;">
        {{#each user_cart.items}}
        <div>
            <div>


                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{this.item.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h1>{{this.item.name}}</h1>
                        <p class="card-text">
                            <div class="my-1">
                                <h5>Price: </h5> {{this.item.price}}
                                <h5>Qty: </h5> {{this.quantity}}

                                <form action="/remove" method="post">
                                    <input type="hidden" name="item" value="{{this.item.id}}">
                                    <input type="hidden" name="price" value="{{this.price}}">
                                    <input type="hidden" name="quantity" value="{{this.quantity}}">

                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>

                            </div>
                            <div class="my-1">

                            </div>
                        </p>

                    </div>
                </div>



            </div>
        </div>
        {{/each}}
        <br>

    </div>

    <center>
        <div class="col-md-3">
            <div class="list-group">
                <div class="list-group-item">
                    <h2>Total: <span class="totalPrice">{{user_cart.total}}$</span></h2>
                    <div><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Pay
                            With Stripe</button></div>
                </div>

            </div>
        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Pay with Stripe</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                               
                                <div class="col">


                                    <!-- CREDIT CARD FORM STARTS HERE -->
                                    <div class="panel panel-default credit-card-box">
                                        <div class="panel-heading display-table">
                                            <div class="row display-tr">
                                                <h3 class="panel-title display-td">Payment Details</h3>
                                                <div class="display-td">
                                                    <img class="img-responsive pull-right"
                                                        src="http://i76.imgup.net/accepted_c22e0.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form role="form" id="payment-form" method="POST"
                                                action="/payments">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="cardNumber">CARD NUMBER</label>
                                                            <div class="input-group">
                                                                <input type="tel" class="form-control" name="cardNumber"
                                                                    placeholder="Valid Card Number"
                                                                    autocomplete="cc-number" required autofocus />
                                                                <span class="input-group-addon"><i
                                                                        class="fa fa-credit-card"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-7 col-md-7">
                                                        <div class="form-group">
                                                            <label for="cardExpiry"><span
                                                                    class="hidden-xs">EXPIRATION</span>
                                                                    <span class="visible-xs-inline">EXP</span> DATE
                                                            </label>
                                                            <input type="tel" class="form-control" name="cardExpiry"
                                                                placeholder="MM / YY" autocomplete="cc-exp" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-md-5 pull-right">
                                                        <div class="form-group">
                                                            <label for="cardCVC">CVV CODE</label>
                                                            <input type="password" class="form-control" name="cardCVC"
                                                                placeholder="CVV" autocomplete="cc-csc" required />
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="subscribe btn btn-success btn-lg btn-block"
                                                            type="submit" >PAY</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="display:none;">
                                                    <div class="col-xs-12">
                                                        <p class="payment-errors"></p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    

                                </div>

                            </div>

                            

                        </div>
                    </div>

                </div>

    </center>

    <br>
    <br>
   
    {{!-- footer  --}}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

</body>

</html>